<%- include('partials/header'); -%>
<section id="solutions" class="">

    <div class="container-fluid sol-main-heading">
        <h1><u>TOLL MANAGEMENT SYSTEM</u></h1>
    </div>

    <div id="features">
        <div class="container sol-card">
            <div class="section-header">
                <h3>Advanced Tolling Solution</h3>
                <h5>To Maintain Huge Amount of Transactions</h5>
            </div>

            <div class="row-feature-item">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="/images/TollMng.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0 div-p">
                    <p>
                        TMS (Toll Management System) multi module based application with hardware integration. Toll
                        Management System is an enterprise level software application used in highway toll plaza’s
                        to maintain huge amount of cash transactions, non-cash transactions, Exempt vehicle
                        transactions, violation transactions and convoy vehicle transactions with high securities
                        and data management process. Toll Management System is multi-layer architecture based
                        software product with multi module applications. Multi module like “Admin Module”, “Audit
                        Module”, “POS Module”, ”Lane Module”. Admin Module is again divided into four sub modules
                        like “HR Management”, “Lane Management”, “Cash-Up Management” and “Report Management”. All
                        these modules and sub- modules are connected or inter related with each other’s with single
                        or multi databases.
                    </p>
                    <p>
                </div>
            </div>
        </div>

        <div class="container sol-card">
            <div class="section-header">
                <h3>Automatic Vehicle Classification System</h3>
                <h5>Ensures Accurate Vehicle Detection and Classification</h5>
            </div>

            <div class="row feature-item">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="/images/VehicleClassification.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <p>
                        AVC is a key element for assessment of the correct toll fee at toll plazas and ensures
                        accurate vehicle detection and classifi cation, offering outstanding performance.AVC is
                        based on infrared sensor technology for low maintenance classification

                        AVC is flexible in design and supports changing classification schemes. The classification
                        is based on axles, distance between axles, single anddouble wheels and multiple vehicle
                        heights. AVC is comprised of a controller unit, sensors and high-class software. A specific
                        interface to the toll lane controller enables the exchange of vehicle related transaction
                        and passage data which is the base of consistent and verifiable transactions.
                    </p>
                </div>

            </div>

        </div>

        <div class="container sol-card">
            <div class="section-header">
                <h3>Electronic Toll Collection System</h3>
                <h5>RFID based system to collect toll automatically</h5>
            </div>

            <div class="row feature-item">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="/images/TollCollection.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0 div-p">
                    <p>
                        It's a RFID based technology where RFID reader detect RFID tag called FASTag which is placed
                        on windscreen of vehicle for making toll payment directly from prepaid account of vehicle
                        owner. It helps cashless payment, fast queue management, time saving, safe & secured.
                        Electronic Toll Collection System offered by Rudra Techno Care is based on NHAI and govt.
                        rules with sharp cutting edge new technology and high quality and compatibility devices.
                    </p>
                    <p>
                </div>
            </div>
        </div>

        <div class="container sol-card">
            <div class="section-header">
                <h3>Weight in Motion</h3>
                <h5>Capture and Record over weighing of goods</h5>
            </div>

            <div class="row feature-item">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="/images/WeightBridge.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <p>
                        <br>
                        <br>
                        Truck Weigh-In-Motion Systems

                        Robust, Reliable and Proven Technology Solutions for high-speed andlow-speed weighing,
                        overload detection, toll roads, mines, sea ports,and bridge protection

                        Robust, Reliable and Proven Technology Solutions for high-speed and low-speed weighing,
                        overload detection, toll roads, mines, sea ports, and bridge protection.
                    </p>
                </div>

            </div>

        </div>
    </div>

</section>
<%- include('partials/footer'); -%>