<%- include('partials/header'); -%>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="banner">
                <div class="box">
                    <h2>Let us get you signed up.</h2>
                    <p>Our registeration process is quick and easy, taking no more than 10 minutes to complete.</p>
                </div>
                <div class="testimonial">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testimony-item">
                                    <p>I'm impressed with the results I've seen since starting to use this product. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, explicabo.</p>
                                    <div class="signature">
                                        <span class="profile-picture">
                                            <img class="Jones-Kim-dp profile"
                                                src="/images/Kim Jonas.png"
                                                alt="Jones Kim DP">
                                        </span>
                                        <h4>Jones Kim</h4>
                                        <p>Product Designer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimony-item">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dolor consequatur unde iusto dolorem veritatis suscipit similique quis neque eaque? Commodi, cum doloribus!</p>
                                    <div class="signature">
                                        <span class="profile-picture">
                                            <img class="Angelina-Jolly-dp profile"
                                                src="images/Angelina Jolly.png"
                                                alt="Angelina Jolly DP">
                                        </span>
                                        <h4>Angelian Jolly</h4>
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    -->
                </div>
            </div>
        </div>
        
        <!-- Login Section -->
        <div class="col-lg-6">
            <section class="login">
                <div class="container">
                    <!-- <div class="row flex-lg align-items-center"> -->
                        <!-- <div class="col-lg-6"> -->
                        <h2>Get Started</h2>
                        <p>Create your account below</p>
                    <form action="/signup" method="post">
                        <div class="form-group wrap-input">
                            <input type="text" name="username" class="form-control form-input" placeholder="Name">
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group wrap-input">
                            <input type="email" name="userEmail" class="form-control form-input" placeholder="Email">
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                        </div>
                        <div class="form-group wrap-input">
                            <input type="password" name="userPassword" class="form-control form-input" placeholder="Password">
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                        </div>
    
                        <div class="cal-btn">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                        </div>
                        <p class="forgot-email">Have an account? <a>Login</a></p>
                    </form>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </section>
        </div>
    </div>
</div>    
<%- include('partials/footer'); -%>