@import url('https://fonts.googleapis.com/css?family=Roboto');

.gradient-background {
	background: linear-gradient(300deg, #ffafbd, #ffdde1, #3345e9);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

hr.dotted {
	border: dotted #898d8d 6px;
	border-style: none;
	border-bottom-style: dotted;
	width: 4%;
	margin: 0 auto 70px;
}

i {
	margin-right: 10px;
}

/* containers */
.container-fluid {
	padding: 7% 15%;
}

nav {
	align-items: center;
	background: #001C30;
	display: flex;
	height: 10vh;
	justify-content: center;
	margin: 0 auto;
	opacity: 0.7;
	padding: 50px 0;
	position: sticky;
	top: 0;
	transition: all 0.5s;
	z-index: 1;
}

nav ul {
	list-style: none;
	text-align: center;
	display: inline-block;
	margin: auto 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #64CCC5;
	display: block;
	padding: 15px;
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}

nav ul li a:hover {
	color: #fff;
	cursor: pointer;
}

nav.stroke ul li a {
	position: relative;
	text-decoration: none;
}

nav.stroke ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #fff;
	height: 1px;
}

nav.stroke ul li a:hover:after {
	width: 100%;
}

.navbar-scrolled {
	opacity: 1;
	box-shadow: 0 3px 10px rgba(0, 28, 48, .15);
}

.left-navbar,
.right-navbar,
.brand {
	display: inline-block;
}

.brand {
	font-size: 2.5rem;
	font-weight: bold;
	font-family: 'Philosopher', sans-serif;
	margin: 0 80px;
}

.brand a{
	color: #fff;
	text-decoration: none;
}

.brand a:hover {
	color: #64CCC5;
}


/* CSS */
.button-71 {
	background-color: #0078d0;
	border: 0;
	border-radius: 56px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Kanit", sans-serif;
	font-size: 16px;
	font-weight: 600;
	outline: 0;
	padding: 8px 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-71:before {
	background-color: initial;
	background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
	border-radius: 125px;
	content: "";
	height: 50%;
	left: 4%;
	opacity: .5;
	position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
	box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
	transform: scale(1.05);
}

@media (min-width: 768px) {
	.button-71 {
		padding: 16px 48px;
	}
}


/* Big-Heading */
/* Title Section */
#title {
	/* box-shadow: 0px 5px 0px #dedede; */
	text-align: center;
}

.heading-column {
	height: 600px;
	padding: 150px 0;
	position: relative;
	right: 56px;
	width: 90%;
}

.big-heading {
	align-items: start;
	font-size: 2.8rem;
	line-height: 1.5;
	font-weight: bold;
	font-family: 'Courgette', cursive;
}

.toll-plaza-image {
	height: auto;
	width: 500px;
	position: relative;
	right: 35px;
	bottom: 60px;
	border-radius: 20px;
	box-shadow: 12px 12px 2px 1px rgb(53, 53, 124, 0.5);
}

/* Calculate Section  */
.calculate {
	width: 50%;
	margin: 0 auto;
}

.calculate-title {
	font-size: 2rem;
	line-height: 1.5;
	padding-bottom: 50px;
	width: 100%;
	display: block;
	font-weight: 700;
}

.wrap-input {
	position: relative;
	/* z-index: 1; */
	margin-bottom: 30px;
}

.form-input {
	padding: 0 30px 0 68px;
	height: 50px;
	line-height: 1.5;
	border-radius: 25px;
	width: 100%;
	border-style: none;
}

.focus-input {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	box-shadow: 5px 5px 2px 1px rgb(53, 53, 124, 0.5);
}

.symbol-input {
	display: flex;
	position: absolute;
	top: 17px;
	bottom: 0;
	left: 0;
	padding-left: 35px;
	border-radius: 25px;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
	border-radius: 25px;
}

.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label,
.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after,
.input-group:not(.has-validation)>.custom-select:not(:last-child),
.input-group:not(.has-validation)>.form-control:not(:last-child) {
	border-top-right-radius: 25;
	border-bottom-right-radius: 25;
}

.cal-btn {
	margin: 60px 0;
	border-radius: 25px;
}

/* Features Section */
#features {
	position: relative;
}

.feature-title {
	font-size: 1.5rem;
}

.features-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 500px;
	margin-bottom: 50px;
}

.feature-box {
	display: flex;
	flex-direction: column;
	padding: 0;
	border-radius: 25px;
	background-color: cyan;
	box-shadow: 12px 12px 15px 3px rgb(94 93 94);
	margin: 0 10px;
	width: 30%;
	height: 100%;
}

.feature-content {
	width: 30%;
	position: absolute;
	bottom: 40px;
}

#features img {
	position: absolute;
	width: 30%;
	height: 55%;
	border-radius: 0;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}


/* banner section*/
.banner {
	margin: 60px;
}

.box h2 {
	font-size: 2.2rem;
	line-height: 1.3;
	margin-bottom: 20px;
	font-weight: 700;
}

.box p {
	color: #000000;
}

/* Testimonial Section */

.testimony-item {
	background-color: #48486a;
	color: white;
	padding: 30px 25px;
	border-radius: 20px;
	margin: 70px 10px;
	height: 227px;
}

.carousel .carousel-indicators li {
	background-color: rgb(219, 217, 217);
	border-radius: 8px;
	width: 8px;
	height: 8px;
}

.carousel .carousel-indicators li.active {
	background-color: #48486a;
}

/* Signature section */
.signature {
	text-align: left;
}

.profile {
	width: 50px;
}

.signature h4 {
	font-size: 0.9rem;
}

.signature p {
	font-size: 0.7rem;
	color: #8f8f8f;
}

.profile-picture {
	float: left;
	margin-right: 10px;
}

/* Login section */
.login {
	margin: 50px 40px 20px;
}

.login h2 {
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 650;
}

.login p {
	color: #8f8f8f;
	margin-bottom: 40px;
}

.login label {
	color: #8f8f8f;
	font-weight: 700;

}



.login button {
	margin-top: 20px;
}

.forgot-email {
	text-align: center;
	margin-top: 80px;
}

/* a:not([href]):not([tabindex]) {
    color: blue;
    text-decoration: none;
} */


/* utility classes */
.center {
	text-align: center;
}